#root {
  padding: 2rem;
}

.fbt-table {
  text-align: left;
  border-collapse: collapse;
  width: 1500px;
}

.fbt-table > thead {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.fbt-table > thead > tr > th {
  padding: 0 10px;
  vertical-align: top;
  width: 480px;
  font-size: 200%;
}

.fbt-table > thead > tr > td.price {
  padding: 0 10px;
  font-size: 300%;
}

.fbt-table > tbody > tr > td {
  padding: 10px;
  vertical-align: top;
}

.fbt-table > tbody > tr.header {
  border-bottom: 1px solid white;
}

.fbt-table > tbody > tr.header td {
  padding-top: 40px;
  font-size: 150%;
}

.fbt-table > tbody > tr.sub-header td {
  padding-bottom: 0;
  font-size: 125%;
}

.component-table {
  width: 100%
}

.component-table td {
  vertical-align: top;
}

.component-table .component-price {
  text-align: right;
  width: 50px;
}

.component-table .total {
  border-top: 1px solid white;
  text-align: right;
}

.warning {
  color: red;
}

.settings {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 500px;
  background-color: black;
  padding: 16px;
  border-radius: 5px;
}