[id] {
    scroll-margin-top: 160px;
}

#root {
    padding: 20px;
}

.main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    grid-row: 1;
    grid-column: 1;
    position: fixed;
    top: 0;
    width: 300px;
    padding: 10px;
}

.content {
    grid-row: 1;
    grid-column: 2;
    min-width: 0%;
    padding: 10px;
}

@media (max-width: 850px) {
    #root {
        padding: 0px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .content {
        grid-row: 1;
        grid-column: 1;
        min-width: 0%;
        padding: 0;
    }
}

nav {
    margin-top: 20px;
}

nav .selected {
    font-weight: bold;
}

tr {
    overflow: hidden;
}

.fbt-table {
    text-align: left;
    border-collapse: collapse;
}

.fbt-table > thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: lightgray;
}

.fbt-table > thead > tr > th {
    padding: 0 10px;
    vertical-align: top;
    width: 480px;
    font-size: 200%;
}

.fbt-table > thead > tr > td {
    padding: 10px;
}

.fbt-table > thead > tr > td.price {
    padding: 0 10px;
    font-size: 300%;
}

.fbt-table > tbody > tr > td {
    padding: 10px;
    vertical-align: top;
}

.fbt-table > tbody > tr.header td {
    font-size: 175%;
    border-bottom: 1px solid black;
    padding-top: 40px;
}

.fbt-table > tbody > tr.sub-header td {
    padding-bottom: 0;
}

.fbt-table > tbody > tr.sub-header > td {
    font-size: 125%;
    border-bottom: 1px solid black;
    padding-top: 20px;
}

.review-table {
    width: 100%;
}

.component-table {
    width: 100%;
}

.component-table td {
    vertical-align: top;
}

.component-table .comment {
    color: gray;
}

.component-table .component-price {
    text-align: right;
    width: 50px;
}

.component-table .total {
    border-top: 1px solid black;
    text-align: right;
}

.recommended {
    color: #279311;
}

.warning {
    color: #b56f07;
}

.settings {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

.vr-headset-icon {
    width: 160px;
}

.vr-system-picker .vr-headset-section .manufacturer {
    margin: 20px 0 10px 0;
    font-size: 120%;
}

.vr-system-picker .vr-headset-section .vr-headset-list {
    display: flex;
    flex-direction: row;
}

.vr-system-picker .vr-headset-section .vr-headset-list .vr-headset-icon {
    margin-right: 20px;
}

.drawback {
    margin: 20px 0 40px 0;
}

.drawback .sub-header {
    margin-top: 10px;
    font-weight: bold;
}

.vr-system-summary-card {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

.vr-system-summary img {
    width: 80px;
    margin-right: 10px;
}
