[id] {
    scroll-margin-top: 120px;
}

.main {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.sidebar {
    grid-row: 1;
    grid-column: 1;
    position: fixed;
    top: 0;
    width: 300px;
    padding: 20px;
}

.content {
    grid-row: 1;
    grid-column: 2;
    min-width: 0%;
}

@media (max-width: 840px) {
    #root {
        padding: 0px;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .sidebar {
        display: none;
    }

    .content {
        grid-row: 1;
        grid-column: 1;
        min-width: 0%;
        padding: 0;
    }
}

nav {
    margin-top: 20px;
}

nav .selected {
    font-weight: bold;
}

tr {
    overflow: hidden;
}

.fbt-table {
    table-layout: fixed;
    border-collapse: collapse;
}

@media screen and (min-width: 840px) {
    .fbt-table > thead > tr > td {
        width: 520px;
    }
}

.fbt-table > thead > tr > td,
.fbt-table > tbody > tr > td {
    padding: 10px 20px 0 20px;
}

@media screen and (max-width: 1360px) {
    .fbt-table > thead > tr > td:nth-child(n + 2),
    .fbt-table > tbody > tr > td:nth-child(n + 2) {
        display: none;
    }
}

@media screen and (max-width: 1880px) {
    .fbt-table > thead > tr > td:nth-child(n + 3),
    .fbt-table > tbody > tr > td:nth-child(n + 3) {
        display: none;
    }
}

@media screen and (max-width: 2400px) {
    .fbt-table > thead > tr > td:nth-child(n + 4),
    .fbt-table > tbody > tr > td:nth-child(n + 4) {
        display: none;
    }
}

.fbt-table > thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: lightgray;
}

.fbt-table > thead > tr:last-child > td {
    padding-bottom: 10px;
}

.fbt-table > thead > tr > .title {
    font-size: 200%;
    font-weight: bold;
}

.fbt-table > thead > tr > td,
.fbt-table > tbody > tr > td {
    vertical-align: top;
}

.fbt-table > tbody > tr > td.header {
    font-size: 175%;
    border-bottom: 1px solid black;
    padding-top: 40px;
}

.fbt-table > tbody > tr > td.sub-header {
    font-size: 125%;
    border-bottom: 1px solid black;
    padding-top: 40px;
}

.fbt-table video {
    width: 100%;
}

.fbt-table img {
    width: 100%;
}

.review-table {
    width: 100%;
}

.component-table {
    width: 100%;
}

.component-table td {
    vertical-align: top;
}

.component-table .comment {
    color: gray;
}

.component-table .component-price {
    text-align: right;
    width: 50px;
}

.component-table .total {
    border-top: 1px solid black;
    text-align: right;
}

.recommended {
    color: #279311;
}

.warning {
    color: #b56f07;
}

.settings {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    padding: 16px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

.vr-headset-icon {
    width: 160px;
    height: 160px;
}

.vr-system-picker {
    max-width: min(90vw, 800px);
}

.vr-system-picker .vr-headset {
    width: 180px;
}

.collapsible {
    margin: 0 -10px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.collapsible .header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.collapsible .header.opened {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.collapsible .title {
    font-size: 125%;
}

.drawback {
    background-color: #eeedc6;
}

.availability {
    background-color: #dcead0;
}

.vr-system-summary-card {
    display: flex;
    flex-direction: row;
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid gray;
}

.vr-system-summary img {
    width: 80px;
    margin-right: 10px;
}
