#root {
    padding: 2rem;
}

.main {
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
}

.sidebar {
    grid-row: 1;
    grid-column: 1;
    position: fixed;
    width: 280px;
}

nav .selected {
    background-color: blue;
}

.content {
    grid-row: 1;
    grid-column: 2;
}

tr {
    overflow: hidden;
}

.fbt-table {
    text-align: left;
    border-collapse: collapse;
    width: 1500px;
}

.fbt-table > thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #242424;
}

.fbt-table > thead > tr > th {
    padding: 0 10px;
    vertical-align: top;
    width: 480px;
    font-size: 200%;
}

.fbt-table > thead > tr > td {
    padding: 10px;
}

.fbt-table > thead > tr > td.price {
    padding: 0 10px;
    font-size: 300%;
}

.fbt-table > tbody > tr > td {
    padding: 10px;
    vertical-align: top;
}

.fbt-table > tbody > tr.header td {
    font-size: 150%;
    border-bottom: 1px solid white;
    padding-top: 40px;
}

.fbt-table > tbody > tr.sub-header td {
    padding-bottom: 0;
}

.sub-header {
    font-size: 125%;
}

.component-table {
    width: 100%;
}

.component-table td {
    vertical-align: top;
}

.component-table .comment {
    color: #999999;
}

.component-table .component-price {
    text-align: right;
    width: 50px;
}

.component-table .total {
    border-top: 1px solid white;
    text-align: right;
}


.recommended {
    color: #A1FB8E;
}

.warning {
    color: #EB3324;
}

.settings {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 500px;
    background-color: black;
    padding: 16px;
    border-radius: 5px;
}

.vr-headset-icon {
    width: 160px;
}

.vr-system-picker .vr-headset-section .manufacturer {
    margin: 20px 0 10px 0;
    font-size: 120%;
}

.vr-system-picker .vr-headset-section .vr-headset-list {
    display: flex;
    flex-direction: row;
}

.vr-system-picker .vr-headset-section .vr-headset-list .vr-headset-icon {
    margin-right: 20px;
}

.drawback {
    margin: 20px 0 40px 0;
}

.drawback .sub-header {
    margin-top: 10px;
    font-weight: bold;
}

.vr-system-summary-card {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    padding: 8px;
}

.vr-system-summary img {
    width: 80px;
    margin-right: 10px;
}
